body {
  background-color: White;
  margin-top: 15px;
    margin-left: 15px;
}

h1 {
  color: darkblue;
  text-align: left;
  font-family: 'Roboto', sans-serif;;
}

h3 {
  color: Blue;
  style="text-decoration: underline;"
  text-align: left;
  font-size: 17px;
  margin-top: -10px;
  font-family: 'Roboto', sans-serif;;
}

p {margin-top: 40px;
  font-family: 'Roboto', sans-serif;;
  font-size: 17px;
  text-align: left;
}

img {
  display: inline-block;  
  float: left;
  margin-left: 10px;
  margin-right: 10px; /* Optional, for spacing between the image and the text */
  width: 30%;
  }
}
